
body{
    background-color: rgb(193 57 57); 
    padding-bottom: 20px;

  
}

.white{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10px;
}
.title {
    background-color: black;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.title-sec{
    text-align: center;
    font-size: 46px;
}
.content{
    text-align: left;
    margin-left: 10%;
}
.first-img{
    width: 800px;
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
}
.multi-img {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
}

 
.sec-img {
    width: 250px;
    height: 225px;
}
.third-img {
    width: 250px;
    height: 225px;
    padding-left: 20px;
}
.four-img {
    width: 250px;
    height: 225px;
    padding-left: 20px;
}
